:root {
  --main-color: rgb(170, 255, 0);
  --alt-color: rgb(17, 79, 0);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  flex-direction: row;
}

header nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 5px;
  width: 100%;
  border-bottom: 1px solid #8686867b;
}

nav a {
  min-width: 100px;
  font-size: calc(1rem + 0.5vw);
  display: inline-block;
  font-family: monospace;
  text-decoration: none;
  color: rgb(77, 77, 77);
  padding: 5px 4px;
  text-align: center;
  border-bottom: 2px solid;
  border-color: transparent;
}

.container {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
}

nav a:hover {
  color: black;
  box-sizing: border-box;
  border-color: #555;
}

.counter {
  margin: 20px;
}

.counter {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  align-items: center;
  font-family: monospace;
}

.counter button {
  border-radius: 100%;
  border: none;
  background-color: var(--main-color);
  color: black;
  font-size: 30px;
  min-width: 60px;
  min-height: 60px;
  cursor: pointer;
}

.counter button:hover {
  box-shadow: 0 0 10px var(--main-color);
}

.counter button:focus {
  border: 3px solid var(--alt-color);
}

.counter span {
  font-size: 40px;
  text-align: center;
  width: 150px;
}

.logo-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 25px;
  cursor: pointer;
}

.logo-container .hashira {
  font-size: 50px;
  font-family: monospace;
  cursor: pointer;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: rgb(15, 15, 15);
  }

  .logo-container {
    filter: invert(1);
  }

  .counter span,
  nav a {
    color: white;
  }

  header nav {
    border-bottom: 1px solid #ffffff16;
  }

  nav a:hover {
    border-color: var(--main-color);
    color: white;
  }
}
